### Dictionary Methods

In [12]:
jameel_info = {'name':'Jameel','age':26,'city':'Hyderabad','Experience':12}

In [14]:
jameel_info.keys()

dict_keys(['name', 'age', 'city', 'Experience'])

In [16]:
jameel_info.values()

dict_values(['Jameel', 26, 'Hyderabad', 12])

In [18]:
jameel_info.pop()

TypeError: pop expected at least 1 argument, got 0

In [34]:
jameel_info.pop('Experience') # Remove the specified elements in the command

12

In [36]:
jameel_info

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad'}

In [38]:
jameel_info['Experience']=12

In [26]:
jameel_info

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 12}

In [40]:
jameel_info.values()

dict_values(['Jameel', 26, 'Hyderabad', 12])

In [30]:
jameel_info.keys()

dict_keys(['name', 'age', 'city', 'Experience'])

In [42]:
jameel_info.items() # Displays all key value pairs

dict_items([('name', 'Jameel'), ('age', 26), ('city', 'Hyderabad'), ('Experience', 12)])

In [44]:
jameel_info.update({'Experience': 14})

In [46]:
jameel_info

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 14}

In [48]:
copyy=jameel_info.copy()

In [50]:
copyy

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 14}

In [52]:
copy=copyy.copy()

In [54]:
copy

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 14}

In [56]:
jameel_info['Experience']=15

In [58]:
jameel_info

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 15}

In [60]:
copyy.clear()

In [62]:
copyy

{}

In [64]:
copy

{'name': 'Jameel', 'age': 26, 'city': 'Hyderabad', 'Experience': 14}

In [67]:
del copy

In [69]:
copy

The syntax of the command is incorrect.

#### Nested Dictionaries

In [73]:
# Example of a nested dictionary
students = {
    'student1': {
        'name': 'John',
        'age': 21,
        'courses': ['Math', 'Physics']
    },
    'student2': {
        'name': 'Alice',
        'age': 22,
        'courses': ['Biology', 'Chemistry']
    }
}

print(students)

{'student1': {'name': 'John', 'age': 21, 'courses': ['Math', 'Physics']}, 'student2': {'name': 'Alice', 'age': 22, 'courses': ['Biology', 'Chemistry']}}

In [75]:
# Accessing nested dictionary values
print(students['student1']['name'])  # Output: John
print(students['student2']['courses'])  # Output: ['Biology', 'Chemistry']

John
['Biology', 'Chemistry']

In [77]:
# Adding a new student
students['student3'] = {
    'name': 'Mark',
    'age': 20,
    'courses': ['English', 'History']
}

# Modifying an existing student
students['student1']['age'] = 23

print(students)

{'student1': {'name': 'John', 'age': 23, 'courses': ['Math', 'Physics']}, 'student2': {'name': 'Alice', 'age': 22, 'courses': ['Biology', 'Chemistry']}, 'student3': {'name': 'Mark', 'age': 20, 'courses': ['English', 'History']}}

In [79]:
# Iterating through the nested dictionary
for student_id, student_info in students.items():
    print(f"Student ID: {student_id}")
    for key, value in student_info.items():
        print(f"{key}: {value}")
    print()

Student ID: student1
name: John
age: 23
courses: ['Math', 'Physics']

Student ID: student2
name: Alice
age: 22
courses: ['Biology', 'Chemistry']

Student ID: student3
name: Mark
age: 20
courses: ['English', 'History']

In [81]:
# Deleting a student
del students['student2']

print(students)

{'student1': {'name': 'John', 'age': 23, 'courses': ['Math', 'Physics']}, 'student3': {'name': 'Mark', 'age': 20, 'courses': ['English', 'History']}}

In [85]:
print(students)

{'student1': {'name': 'John', 'age': 23, 'courses': ['Math', 'Physics']}, 'student3': {'name': 'Mark', 'age': 20, 'courses': ['English', 'History']}}

In [87]:
students

{'student1': {'name': 'John', 'age': 23, 'courses': ['Math', 'Physics']},
 'student3': {'name': 'Mark', 'age': 20, 'courses': ['English', 'History']}}

In [91]:
students['student1']['name']

'John'

In [97]:
students['student1'].update({'age':27})

In [99]:
students

{'student1': {'name': 'John', 'age': 27, 'courses': ['Math', 'Physics']},
 'student3': {'name': 'Mark', 'age': 20, 'courses': ['English', 'History']}}

In [105]:
students['student3'].update({'name':'John Shaw'})

In [107]:
students

{'student1': {'name': 'John', 'age': 27, 'courses': ['Math', 'Physics']},
 'student3': {'name': 'John Shaw',
  'age': 20,
  'courses': ['English', 'History']}}

### sets

### creating sets

In [111]:
set1 = {1,3,5,7,9}

In [113]:
type(set1)

set

In [115]:
set2 = {8,3,0,1,9,2}

In [117]:
set2

{0, 1, 2, 3, 8, 9}

In [123]:
set1.add(11) # Adds the element towards the end

In [125]:
set1

{1, 3, 5, 7, 9, 11}

In [127]:
set3 = {"horse",3,3,"apple","horse",2,0}

In [129]:
set3

{0, 2, 3, 'apple', 'horse'}

In [131]:
set1.add("Hello")

In [133]:
set1

{1, 11, 3, 5, 7, 9, 'Hello'}

In [135]:
multOfThree = {3,6,9,12,15,18,21,24,27,30}
multOfFour = {4,8,12,16,20,24,28,32,36,40}

### Union

In [142]:
combined = multOfThree.union(multOfFour) # all elements in A and B but one time

In [144]:
combined

{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24, 27, 28, 30, 32, 36, 40}

In [176]:
mul3 = {3,6,9,12,15}
mul4 = {4,8,12,16,20}

### Intersection

In [159]:
common = mul3.intersection(mul4)  # Returns the common elements from both sets.

In [161]:
common

{12}

In [163]:
mul4

{4, 8, 12, 16, 20}

In [167]:
mul3.intersection_update(mul4)

### Difference

In [178]:
diff = mul3.difference(mul4)

In [180]:
diff

{3, 6, 9, 15}

In [184]:
print(mul3)
print(mul4)

{3, 6, 9, 12, 15}
{16, 4, 20, 8, 12}

In [186]:
diff = mul3.difference(mul4)  # Returns the elements in mul3 that are not in mul4.

In [188]:
diff

{3, 6, 9, 15}

In [190]:
diff = mul4.difference(mul3)

In [192]:
diff

{4, 8, 16, 20}

In [200]:
mul4 - mul3

{4, 8, 16, 20}

In [204]:
print(mul3)
print(mul4)

{3, 6, 9, 12, 15}
{16, 4, 20, 8, 12}

In [214]:
diff1 = mul3.difference(mul4)

In [216]:
diff2 = mul3.difference_update(mul4)

In [218]:
diff1

{3, 6, 9, 15}

In [220]:
diff2

In [222]:
mul3

{3, 6, 9, 15}

In [225]:
mul4

{4, 8, 12, 16, 20}

### Symmetric Difference

In [251]:
set1 = {1,34,5,6,12,34,5,5}

In [253]:
set1

{1, 5, 6, 12, 34}

In [255]:
set2 = {1,3,45,5}

In [269]:
set2

{1, 3, 5, 45}

In [257]:
set1.difference(set2)

{6, 12, 34}

In [271]:
print(set1)
print(set2)

{1, 34, 5, 6, 12}
{45, 1, 3, 5}

In [261]:
set1.symmetric_difference(set2)

{3, 6, 12, 34, 45}

In [239]:
set1.symmetric_difference_update(set2)

In [273]:
set1.remove(1)

In [275]:
set1

{5, 6, 12, 34}

In [277]:
set1.add(77)

In [279]:
set1

{5, 6, 12, 34, 77}

### Conditional Statements

## if, else, if else

In [285]:
x = int(input("Enter the number"))
if x % 2 == 0:
    print("The given number is even")

Enter the number 7

In [293]:
x = int(input("Enter the Number"))
if x > 2:
    print("The given number is greater than 2")
else:
    print("The given number is not greater than 2")

Enter the Number 88

The given number is greater than 2

In [291]:
x = int(input("Enter the number"))
if x % 2 == 0:
    print("The given number is even")
else:
    print("The given number is odd")

Enter the number 9

The given number is odd

In [299]:
x = int(input("Enter the number"))
if x % 3 == 0:
    print("The given number is a multiple of 3")
elif x % 4 == 0:
    print("The given number is a multiple of 4")
elif x % 5 == 0:
    print("The given number is a multiple of 5")
else:
    print("The given number is not a multiple of any of 3,4,or 5")

Enter the number 67

The given number is not a multiple of any of 3,4,or 5

## loops

## for, while

In [303]:
for i in mul3:
    print(i)

3
6
9
15

In [305]:
for i in mul4:
    print(i)

16
4
20
8
12

In [308]:
fruits = ['apple','mango','banana','organge']

In [310]:
for i in fruits:
    print(i)

apple
mango
banana
organge

In [314]:
x = range(1,11)

In [320]:
for i in x:
    print("The square of {} is {}".format(i,i**2))

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

### while loop

In [329]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

##### list comprehension

In [332]:
m3 = [1,2,3,4,5,6,7,8,9]

In [334]:
m3Square = [x**2 for x in range(10)]

In [336]:
m3Square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [338]:
even = [ x for x in m3 if x%2 == 0]

In [340]:
even

[2, 4, 6, 8]

In [342]:
odd = [x for x in m3 if x%2 != 0]

In [344]:
odd

[1, 3, 5, 7, 9]

In [346]:
first20 = [x for x in range(1,21)]

In [348]:
first20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [368]:
cubes = {'The cube of {} is '.format(x):x**3 for x in mul3}

In [370]:
cubes

{'The cube of 3 is ': 27,
 'The cube of 6 is ': 216,
 'The cube of 9 is ': 729,
 'The cube of 15 is ': 3375}

In [378]:
squareCubes = {'Number is {}'.format(x):{'Its square is {}'.format(x**2),'its cube is {}'.format(x**2)} for x in mul4}

In [380]:
squareCubes

{'Number is 16': {'Its square is 256', 'its cube is 256'},
 'Number is 4': {'Its square is 16', 'its cube is 16'},
 'Number is 20': {'Its square is 400', 'its cube is 400'},
 'Number is 8': {'Its square is 64', 'its cube is 64'},
 'Number is 12': {'Its square is 144', 'its cube is 144'}}